<div class="fddv4-login">
    <div class="fddv4-login-main">
        <div class="fddv4-login-tit">
            <img src="./../../images/logo-login.png" alt="法大大logo"><span>合同文件管理平台</span>
        </div>
        <div class="fddv4-login-form">
            <span>系统登录</span>
            <input type="text" ng-model="user.userName" placeholder="请输入手机号/邮箱">
            <input type="password" ng-model="user.password"  placeholder="请输入密码">
            <p><a href="javaScript:;">忘记密码?</a></p>
            <a href="javaScript:;" class="fddv4-login-link" ng-click="user.login(user)">登录</a>
        </div>
    </div>
    <div class="fddv4-login-bg"></div>
</div>